.hidden {
  display: none;
}

#imageModal {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
}

#imageModal.hidden {
  display: none;
}

#imageModal img {
  display: block;
  max-width: 100%;
  max-height: 85vh;
  object-fit: contain;
}

#modal-title {
  display: block;
  width: 100%;
}

#closeModal {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}